:root{
    --bg-body: hsl(0, 0%, 8%);
    --text-1: hsl(0, 0%, 100%);

}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-body);
    color: var(--text-1);
}

.btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}